/* Stylesheet for course creation page. */

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arsenal", sans-serif;
}

h2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-regular {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-bold {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-regular-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-bold-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: radial-gradient(rgb(159, 164, 166), rgb(110, 115, 166));
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.navbar-buttons {
    display: flex;
    gap: 20px;
}

.navbar-logo {
    display: flex;
    justify-content: flex-end;
    padding: 14px;
    max-width: 100%;
    overflow: hidden;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    overflow: hidden;
}

.button {
    padding: 20px;
    height: 60px;
    margin: 0 10px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: space-around;
}

.button:hover {
    font-weight: bold;
}

.course-creation-form {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    left: 0px;
}

.create-container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.element {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding-left: 30px;
    font-size: 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.creation-submit {
    height: 60px;
    width: 150px;
    border-radius: 7px;
    background-image: repeating-linear-gradient(to top, rgb(109, 108, 108), rgb(0, 0, 0));
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }

    .button {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .course-creation-form {
        height: 500px;
        width: 500px;
    }

    .create-container {
        height: 100%;
        width: 250px;
    }

    .element {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }

    .creation-submit {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }

}