/* Stylesheet for login/signup page (index). */

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arsenal";
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: radial-gradient(rgb(159, 164, 166), rgb(110, 115, 166));
    padding-bottom: 100px;
}

header{
    padding-top: 25px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.heading {
	color: rgb(255, 255, 255);
	font-size: 2rem;
}

.title {
	font-weight: 400;
	letter-spacing: 1.5px;
	color: white;
	font-size: 1.4rem;
    font-family: "Arsenal", sans-serif;
}

.notification {
    color: white;
}

.container {
	height: 600px;
	width: 500px;
	background-color: white;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.button {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: none;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-slider-button, .signup-slider-button {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: black;
    font-family: "Anton SC", sans-serif;
}

.login-slider-button.active, .signup-slider-button.active {
    color: white;
}

.slider {
    height: 60px;
    width: 100px;
    border-radius: 7px;
    background-image: repeating-linear-gradient(to top, rgb(109, 108, 108), rgb(0, 0, 0));
    position: absolute;
    top: 20px;
    left: 117px;
    transition: all 0.5s ease-in-out;
}

.move-slider {
    left: 268px;
}

.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.form-section-move {
    left: -500px;
}

.login-container, .signup-container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.login-container {
    gap: 50px;
}

.signup-container {
    gap: 30px;
}

.element {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding-left: 30px;
    font-size: 15px;
}

.login-submit, .signup-submit {
    height: 60px;
    width: 150px;
    border-radius: 7px;
    background-image: repeating-linear-gradient(to top, rgb(109, 108, 108), rgb(0, 0, 0));
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 320px) {
	.container {
		height: 600px;
		width: 250px;
	}

	.heading {
		font-size: 30px;
	}

	.title {
		font-size: 10px;
	}

	.button {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login-slider-button, .signup-slider-button {
		font-size: 19px;
	}

	.slider {
		height: 50px;
		width: 100px;
		left: 27px;
	}

	.move-slider {
		left: 127px;
	}

	.form-section {
		height: 500px;
		width: 500px;
	}

	.form-section-move {
		left: -250px;
	}

	.login-container, .signup-container {
		height: 100%;
		width: 250px;
	}

	.element {
		height: 50px;
		width: 220px;
		font-size: 15px;
	}

	.login-submit, .signup-submit {
		height: 50px;
		width: 130px;
		font-size: 19px;
	}
}
