
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arsenal", sans-serif;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-regular {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-bold {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-regular-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-bold-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

html, body {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: radial-gradient(rgb(159, 164, 166), rgb(110, 115, 166));
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 10px 0;
    /* Add background colors, etc., later. */
}

th {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
}

td {
    padding: 5px;
    border: 1px solid dimgray;
}

tr:nth-child(even) {
    background-color: darkgrey;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:hover {
    background-color: cornflowerblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.navbar-buttons {
    display: flex;
    gap: 20px;
}

.navbar-logo {
    display: flex;
    justify-content: flex-end;
    padding: 14px;
    max-width: 100%;
    overflow: hidden;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    padding-left: 20px;
    order: 2;
    /* Should there be a max width? Try first without. */
}

.upcoming, .ready-to-grade {
    margin-bottom: 20px;
}

.upcoming table, .ready-to-grade table {
    width: 100%;
    margin-top: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #dddddd;
    border: 1px solid;
    border-radius: 10px;
    order: 1;
}

.button {
    padding: 20px;
    margin: 0 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    font-weight: bold;
}

.element {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding-left: 30px;
    font-size: 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}


@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }

    .button {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }


    .element {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }

}